{{- /* Head custom content area start */ -}}
{{- /* photoswipe */}}
{{- $photoswipe_lightbox_js := resources.Get "js/photoswipe-lightbox.esm.js" | minify }}
{{- $photoswipe_js := resources.Get "js/photoswipe.esm.js" | minify }}
{{- $photoswipe_css := resources.Get "css/photoswipe.css" | minify }}
<script type="module">
    import PhotoSwipeLightbox from '{{ $photoswipe_lightbox_js.RelPermalink }}';
    const lightbox = new PhotoSwipeLightbox({
      gallery: '.post-content',
      children: 'a.photoswipe-image',
      pswpModule: () => import('{{ $photoswipe_js.RelPermalink }}')
    });
    lightbox.init();
</script>
<style>
{{- $photoswipe_css.Content | safeCSS -}}
</style>
{{- /* Head custom content area end */ -}}